body {
  margin: 25px;
  background-color: rgb(240,240,240);
  font-family: arial, sans-serif;
  font-size: 14px;
}

/* This is example css from https://gist.github.com/eirikbakke/1059266/d81dba46c76169c2b253de0baed790677883c221 */
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
}

#examplecolor { color: blue; }
